rules:
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\ContractsHaveDocumentationRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\DoNotUseGlobBraceRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\ImplementationsMustBeFinalRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\InterfacesHaveDocumentationRule
parameters:
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- ../dev-ops/bin/phpstan/src/
		- ../src/
	tmpDir: ../.build/phpstan/
	scanDirectories:
		- ../vendor/
	ignoreErrors:
		-
			# internal deprecation note
			message: '#Fetching deprecated class constant.*#'
			path: ../src/Repository/JobPayloadRepository.php
		-
			# Ignore Shopware related deprecation hint that is not applicable for us
			message: '#Call to deprecated method getIterator\(\) of class Shopware\\Core\\Framework\\Struct\\Collection#'
			paths:
			    - ../src/EntityMapper.php
			    - ../src/EntityReflector.php
			    - ../src/MappingPersister/MappingPersister.php
			    - ../src/Repository/MappingNodeRepository.php
		-
			# Ignore dbal upgrade notes
			message: '#Call to deprecated method fetch(All|Column)?\(\) of class Doctrine\\DBAL\\(Driver\\Result)?Statement#'
			paths:
				- ../src/Action/Route/RouteFind.php
				- ../src/Action/Route/RouteOverview.php
				- ../src/Action/RouteCapability/RouteCapabilityOverview.php
				- ../src/Action/WebHttpHandlerConfiguration/WebHttpHandlerConfigurationFind.php
				- ../src/MappingPersister/MappingPersister.php
				- ../src/RouteCapabilityAccessor.php
				- ../src/Support/Query/QueryIterator.php
				- ../src/WebHttpHandlerAccessor.php
				- ../src/WebHttpHandlerPathAccessor.php
		-
			# Ignore dbal upgrade notes
			message: '#Call to deprecated method (and|or)X\(\) of class Doctrine\\DBAL\\Query\\Expression\\ExpressionBuilder#'
			paths:
				- ../src/MappingPersister/MappingPersister.php
				- ../src/WebHttpHandlerAccessor.php
		-
			# Ignore dbal upgrade notes
			message: '#Fetching deprecated class constant (INTEGER|BINARY) of class Doctrine\\DBAL\\Types\\Type#'
			paths:
				- ../src/Action/WebHttpHandlerConfiguration/WebHttpHandlerConfigurationFind.php
				- ../src/Action/WebHttpHandlerConfiguration/WebHttpHandlerConfigurationSet.php
				- ../src/Migration/Migration1635713040SeedReceptionRouteCapability.php
				- ../src/Support/Query/QueryBuilder.php
				- ../src/WebHttpHandlerAccessor.php
				- ../src/WebHttpHandlerPathAccessor.php
		-
			# Ignore dbal upgrade notes
			message: '#Fetching class constant (ASSOCIATIVE|COLUMN) of deprecated class Doctrine\\DBAL\\FetchMode#'
			paths:
				- ../src/Action/Route/RouteOverview.php
				- ../src/Action/RouteCapability/RouteCapabilityOverview.php
				- ../src/Action/WebHttpHandlerConfiguration/WebHttpHandlerConfigurationFind.php
				- ../src/RouteCapabilityAccessor.php
				- ../src/Support/Query/QueryIterator.php
				- ../src/WebHttpHandlerAccessor.php
				- ../src/WebHttpHandlerPathAccessor.php
		-
			# Ignore dbal deprecated notes
			message: '#Call to deprecated method execute\(\) of class Doctrine\\DBAL\\Statement#'
			paths:
				- ../src/Migration/Migration1635713040SeedReceptionRouteCapability.php
		-
			# Ignore dbal deprecated notes
			message: "#Call to function method_exists\\(\\) with Doctrine\\\\DBAL\\\\Connection and 'executeStatement' will always evaluate to true.#"
			paths:
				- ../src/Migration/Migration1589662318CreateDatasetEntityTypeTable.php
				- ../src/Migration/Migration1589662426CreatePortalNodeTable.php
				- ../src/Migration/Migration1589673188CreateMappingNodeTable.php
				- ../src/Migration/Migration1589674916CreateMappingTable.php
				- ../src/Migration/Migration1590070312CreateRouteTable.php
				- ../src/Migration/Migration1590250578CreateErrorMessageTable.php
				- ../src/Migration/Migration1595776348AddWebhookTable.php
				- ../src/Migration/Migration1596457486AddCronjobTable.php
				- ../src/Migration/Migration1596472471AddCronjobRunTable.php
				- ../src/Migration/Migration1596939935CreatePortalNodeKeyValueStorageTable.php
				- ../src/Migration/Migration1602667098ConvertPortalNodeStorageValueToBlob.php
				- ../src/Migration/Migration1604325329IncreaseBlobSize.php
				- ../src/Migration/Migration1604363856CreateJobPayloadStorageTable.php
				- ../src/Migration/Migration1604429812CreateJobTable.php
				- ../src/Migration/Migration1604781501CreateIndexes.php
				- ../src/Migration/Migration1615364544AddTtlToPortalStorage.php
				- ../src/Migration/Migration1622309810FixForeignKeyConstraints.php
				- ../src/Migration/Migration1622316410ReplaceMappingWithPortalNodeAndMappingNode.php
				- ../src/Migration/Migration1629148895ChangeTextCollateToEnsureCorrectComparison.php
				- ../src/Migration/Migration1629643769AddJobStartAndFinishFields.php
				- ../src/Migration/Migration1632763825RenameDatasetEntityTypeTable.php
				- ../src/Migration/Migration1635019143EntityTypeIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019144JobIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019145JobIndexNewHappenedAtColumns.php
				- ../src/Migration/Migration1635019146JobPayloadIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019147JobTypeIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019148MappingIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019149MappingErrorMessageIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019150MappingNodeIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019151PortalNodeIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019152PortalNodeStorageIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019153RouteIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635512814OnDeleteCascadeFromMappingNodeToMapping.php
				- ../src/Migration/Migration1635713039CreateRouteCapabilityTable.php
				- ../src/Migration/Migration1635713040SeedReceptionRouteCapability.php
				- ../src/Migration/Migration1635713041CreateRouteToRouteCapabilityTable.php
				- ../src/Migration/Migration1635713042SeedReceptionCapabilityToRoute.php
				- ../src/Migration/Migration1636817108CreateWebHttpHandlerPathTable.php
				- ../src/Migration/Migration1636817109CreateWebHttpHandlerTable.php
				- ../src/Migration/Migration1636817110CreateWebHttpHandlerConfigurationTable.php
		-
			# Ignore dbal deprecated notes
			message: '#Call to deprecated method exec\(\) of class Doctrine\\DBAL\\Connection#'
			paths:
				- ../src/Migration/Migration1589662318CreateDatasetEntityTypeTable.php
				- ../src/Migration/Migration1589662426CreatePortalNodeTable.php
				- ../src/Migration/Migration1589673188CreateMappingNodeTable.php
				- ../src/Migration/Migration1589674916CreateMappingTable.php
				- ../src/Migration/Migration1590070312CreateRouteTable.php
				- ../src/Migration/Migration1590250578CreateErrorMessageTable.php
				- ../src/Migration/Migration1595776348AddWebhookTable.php
				- ../src/Migration/Migration1596457486AddCronjobTable.php
				- ../src/Migration/Migration1596472471AddCronjobRunTable.php
				- ../src/Migration/Migration1596939935CreatePortalNodeKeyValueStorageTable.php
				- ../src/Migration/Migration1602667098ConvertPortalNodeStorageValueToBlob.php
				- ../src/Migration/Migration1604325329IncreaseBlobSize.php
				- ../src/Migration/Migration1604363856CreateJobPayloadStorageTable.php
				- ../src/Migration/Migration1604429812CreateJobTable.php
				- ../src/Migration/Migration1604781501CreateIndexes.php
				- ../src/Migration/Migration1615364544AddTtlToPortalStorage.php
				- ../src/Migration/Migration1622309810FixForeignKeyConstraints.php
				- ../src/Migration/Migration1622316410ReplaceMappingWithPortalNodeAndMappingNode.php
				- ../src/Migration/Migration1629148895ChangeTextCollateToEnsureCorrectComparison.php
				- ../src/Migration/Migration1629643769AddJobStartAndFinishFields.php
				- ../src/Migration/Migration1632763825RenameDatasetEntityTypeTable.php
				- ../src/Migration/Migration1635019143EntityTypeIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019144JobIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019145JobIndexNewHappenedAtColumns.php
				- ../src/Migration/Migration1635019146JobPayloadIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019147JobTypeIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019148MappingIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019149MappingErrorMessageIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019150MappingNodeIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019151PortalNodeIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019152PortalNodeStorageIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635019153RouteIndexHappenedAtColumns.php
				- ../src/Migration/Migration1635512814OnDeleteCascadeFromMappingNodeToMapping.php
				- ../src/Migration/Migration1635713039CreateRouteCapabilityTable.php
				- ../src/Migration/Migration1635713041CreateRouteToRouteCapabilityTable.php
				- ../src/Migration/Migration1635713042SeedReceptionCapabilityToRoute.php
				- ../src/Migration/Migration1636817108CreateWebHttpHandlerPathTable.php
				- ../src/Migration/Migration1636817109CreateWebHttpHandlerTable.php
				- ../src/Migration/Migration1636817110CreateWebHttpHandlerConfigurationTable.php
